{% extends "base.html" %}
{% load static %}

{% block title %}
    blog
{% endblock title %}
    
{% block content  %}

    <div class="row">
      <div class="col ms-5">
        <div class="mt-3">
        <h2 class="text-center mb-4">Latest Blog Posts</h2>
        </div>
                {% for post in posts %}
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="{{ proj.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="text-muted">{{ post.created_at|date:"M d, Y" }}</p>
                            <p class="text-truncate" style="max-height: 100px; overflow: hidden;">
                                {{ post.content | safe | truncatewords:20 }}
                            </p>
                            
                            <a href="{% url 'blog_detail' post.slug %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endblock  %}
